nav {
  position: sticky;
  top: 0;
  background-color: #485da1;
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', sans-serif;
  font-size: 175%;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.fa-angle-double-down {
  color: #28caca;
  text-align: center;
  animation: bounce 0.5s;
animation-direction: alternate;
animation-iteration-count: infinite;
}


@keyframes bounce{
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 10px, 0);}
}



